@use 'setup';
// setting base font size to 20px
html {
    font-size: 125%;
}
// stripping styles
body,
section,
ul,
h1,
h2,
h3 {
    margin:0;
    padding:0;
    list-style: none;
    
}
h1,
h2,
h3,
button,
a {
    font-family: 'Emblema One', cursive;
    color: #1d81cc;
    text-transform: uppercase;
    text-decoration: none;
}
h2 {
    font-size: 2.1rem;
}
p,
article {
    font-family: 'Barlow', sans-serif;
    color: #1f2022;
}
// setting wrapper width
.wrapper {
    width:90%;
    margin:0 auto;
}
// header styling begins
header {
    background-image: url(/c:/Users/Adrian/Desktop/juno/Bootcamp/Assignments/adrianYearwoodAssignment1/assets/header-alt.png);
    height:100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    .topLinks {
        display:flex;
        justify-content: flex-end;
        padding: 1% 0%;
        ul {
            width:40%;
            display:flex;
            justify-content: flex-end;
            li {
                // making the links display horizontally instead of vertically
                display:inline-block;
                margin: 0 4%;
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    font-family: 'Catamaran', sans-serif;
                    color:#042259;
                }
            }
        }
    }
    // hiding the drop menu for the media query
    .dropMenu {
        display:none;
    }
    // placing the social links
    aside {
        position:absolute;
        top:5%;
        right:5%;
        li {
            margin:10px 0px;
        }
    }
    .wrapper {
        // making the position of this wrapper relative so the title can be stuck to it
        position:relative;
        .mainTitle {
            position:absolute;
            top:35vh;
            left:0;
            h1 {
                font-size:5.23rem;
                line-height: 87.3px;
                width:50%;
            }
            p {
                color: #042259;
                font-size:1.86rem;
                line-height: 37.9px;
                margin: 0;
            }
        }
    }
}
// newsAppliance section styling begins
.newsAppliances {
    background-color: #fcdde2;
    padding:1% 0%;
    h2 {
        text-align: center;
        margin:5% 0%;
    }
    .appliancePics {
        display:flex;
        justify-content: space-between;
        li {
            width: 31%;
            img {
                width:100%;
                height:auto;
            }
        }
    }
    .coffee {
        display:flex;
        align-items: center;
        margin:5% 0%;
        img {
            width:25%;
            height:auto;
        }
        .coffeeInfo {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width:75%;
            margin-left:2%;
            h2 {
                margin: 0;
            }
            article {
                margin: 2% 0%;
            }
        }
        //styling the button
        button {
            background-color: #042259;
            color: #f0f5ff;
            border-width: 0px;
            font-size: 1rem;
            text-align: center;
            line-height: 29px;
            padding: 10px 10px;
        }
    }
}
// Smoothies / New Home section styling begins
.smoothiesNewHome {
    background-color: #f0f5ff;
    height:auto;
    .smoothies {
        display:flex;
        align-items: center;
        .smoothieInfo {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;
            width:50%;
            margin-left:5%;
            padding-right: 5%;
            h2 {
                width:75%;
            }
            article {
                line-height: 29px;
                letter-spacing: 0.2px;
                margin: 3% 0%;
            }
            button {
                background-color: #f5c8cf;
                color:#042259;
                border-width: 0;
                font-size: 1rem;
                text-align: center;
                line-height: 29px;
                padding: 10px 10px;
            }
        }
        img {
            height:auto;
            width: 50%;
        }
    }
    .newHome {
        display:flex;
        align-items: center;
        .newHomeInfo {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:baseline;
            width:50%;
            margin-right:5%;
            padding-left: 5%;
            h2 {
                width:75%;
            }
            article {
                line-height: 29px;
                letter-spacing: 0.2px;
                margin: 3% 0%;
            }
            button {
                background-color: #f5c8cf;
                color:#042259;
                border-width: 0;
                font-size: 1rem;
                text-align: center;
                line-height: 29px;
                padding: 10px 10px;
            }
        }
        img {
            height:auto;
            width: 50%;
        }
    }
}
// Shop / Jobs / Events section styling begins
.shopJobsEvents {
    background-color: #fcdde2;
    height:30vh;
    nav {
        height:100%;
        ul {
            height:100%;
            display:flex;
            justify-content: center;
            align-items: center;
            li {
                width:30%;
                height:50%;
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                i {
                    color: #042259;
                }
                a {
                    text-decoration: none;
                    font-size: 1.56rem;
                }
            }
        }
    }
}
// Contact and Bottom Links Section styling begins
.contactOptions {
    background-color: #f0f5ff;
    padding:3% 0%;
    p {
        margin:2% 0%;
    }
    .bottomFlex {
        display:flex;
        justify-content: space-between;
        .stayUpdated {
            width:50%;
            label[for="email"] {
                display:none;
            }
            input[type="email"] {
                line-height: 29px;
                height:49px;
                margin-right:-5px;
                border:2px solid #f5c8cf;
                width:70%;
            }
            button {
                background-color: #f5c8cf;
                color:#042259;
                width:30%;
                min-width: 140px;
                border-width: 0;
                font-size: 1rem;
                text-align: center;
                line-height: 29px;
                padding: 10px 10px;
            }
        }
        .contact {
            p {
            margin-top: 5%;
            line-height: 25px;
            }
        }
        li {
            text-align: right;
            font-size: 1.2rem;
            line-height: 29px;
        }
    }
}
// Footer Styling begins
footer {
    background-color: #042259;
    text-align: center;
    padding:1% 0%;
    p {
        margin:0;
        color: #f0f5ff;
    }
}

@media (max-width: 975px) {
    // first media query, tablet / small screen-friendly
    h2 {
        font-size: 1.5rem;
    }
    header {
        // changing the background picture to mobile friendly
        background-image: url(/c:/Users/Adrian/Desktop/juno/Bootcamp/Assignments/adrianYearwoodAssignment1/assets/header-alt-mobile.png);
        background-position: right bottom;
        .wrapper {
            .mainTitle {
                top:20vh;
                left:0;
                h1 {
                    font-size: 3rem;
                    line-height: 65px;
                    width:40%;
                }
                p {
                    font-size:1.2rem;
                    line-height: 24px;
                    margin: 0;
                }
            }
        }
        aside {
            // hiding social links
            display:none;
        }
        // turning top menu into drop menu begins
        .topNav {
            position:relative;
            .topLinks {
                // hiding top links
                display:none;
            }
            .dropMenu {
                // placing the dropmenu hamburger icon
                position:absolute;
                display: inline-block;
                right:-20px;
                top:10px;
                min-width:100px;
                text-align: center;
                img {
                    width:50%;
                    color:#042259;
                }
                .dropMenuLinks {
                    /* formatting and hiding the drop menu links */
                    display:none;
                    position: relative;
                    text-align:center;
                    z-index: 1;
                    a {
                        color:#1d81cc;
                        text-decoration: none;
                        text-transform: capitalize;
                        display: block;
                    }
                }
            }    
            .dropMenu:hover {
                .dropMenuLinks {
                /* displays the drop menu on a hover */
                display:block;
                } 
            }
            /* turning top menu into drop menu ends */
        }
    }    
    .newsAppliances {
        .appliancePics {
            li {
                width:45%;
                height:auto;
                padding: 6% 0%;
            }
            .toaster {
                // hiding the middle picture
                display:none;
            }
        }
    }
    .newsAppliances {
        .coffee {
            // making this section display vertically
            flex-direction: column;
            img {
                width:100%;
                margin-bottom: 3%;
            }
            .coffeeInfo {
                width:100%;
                align-items: center;
            }
        }
    }
    .smoothiesNewHome {
        background-color: #fcdde2;
        .smoothies {
            // making this section display vertically with the image on top
            flex-direction: column-reverse;
            img {
                width: 100%;
            }
            .smoothieInfo {
                width:100%;
                align-items: center;
                padding: 4% 5%;
                margin-right: 0;
                margin-left: 0;
                h2 {
                    text-align: center;
                }
                button {
                    background-color: #042259;
                    color: #f0f5ff;
                    border-width: 0px;
                    font-size: 1rem;
                    text-align: center;
                    line-height: 29px;
                    padding: 10px 10px;
                }
            }
        }
        .newHome {
            // making the section display vertically
            flex-direction: column;
            img {
                width: 100%;
            }
            .newHomeInfo {
                width:100%;
                align-items: center;
                padding: 4% 5%;
                margin-right: 0;
                margin-left: 0;
                h2 {
                    text-align: center;
                }
                button {
                    background-color: #042259;
                    color: #f0f5ff;
                    border-width: 0px;
                    font-size: 1rem;
                    text-align: center;
                    line-height: 29px;
                    padding: 10px 10px;
                }
            }
        }
    }
    .shopJobsEvents {
        height:auto;
        padding:5% 0%;
        background-color: #f5c8cf;
        nav {
            ul {
                // making the icons and links display vertically
                flex-direction: column;
                li {
                    margin: 5% 0%;
                    a{
                        margin:5% 0%;
                    }
                }
            }
        }
    }
    .contactOptions {
        p {
            font-size: 0.9rem;
        }
        .bottomFlex {
            // making this section display vertically
            flex-direction: column;
            align-items: center;
            position:relative;
            .stayUpdated {
                width: 100%;
                display:flex;
                flex-direction: column;
                align-items: center;
                .subscribe {
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    width:100%;
                    input[type="email"] {
                        text-align: center;
                        width:100%;
                        margin: 2% 0%;                        
                    }
                    button {
                        text-align: center;
                        width:40%;
                        margin: 2% 0%;
                    }
                }
            }
            .contact {
                // making the contact info display in line with the bottom links
                position:absolute;
                bottom:2%;
                left:0;
            }
            .bottomLinks {
                // placing the links on the right side of the screen
                align-self: flex-end;
                margin: 2% 0%;
            }
        }
    }
    footer {
        padding: 3% 0%;
    }
}

@media (max-width:500px) {
    // smallest screen width, works down to 320px screen width
    header {
        .wrapper {
            .mainTitle {
                h1 {
                    font-size: 2rem;
                    line-height: 42px;
                    width:40%;
                }
                p {
                    font-size:0.8rem;
                    line-height: 16px;
                    margin: 0;
                }   
            }
            .dropMenu {
                right: 0px;
                .dropMenuLinks {
                    a {
                        color:#ffffff;
                    }
                }
            }
        }
    }
    .contact {
        p {
            font-size: 0.7rem;
        }
    }
    .bottomLinks {
        li {
            a {
                font-size: 1rem;
            }
        }
    }
}