@use 'setup';

html {
    font-size: 125%;
}
body,
section,
ul,
h1,
h2,
h3 {
    margin:0;
    padding:0;
    list-style: none;
    
}
h1,
h2,
h3,
button,
a {
    font-family: 'Emblema One', cursive;
    color: #1d81cc;
    text-transform: uppercase;
}
h2 {
    font-size: 2.1rem;
}
p,
article {
    font-family: 'Barlow', sans-serif;
    color: #042259;
}
.wrapper {
    max-width:1200px;
    width:90%;
    margin:0 auto;
}
header {
    background-image: url(/c:/Users/Adrian/Desktop/juno/Bootcamp/Assignments/adrianYearwoodAssignment1/assets/header-alt.png);
    height:100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    .topLinks {
        display:flex;
        justify-content: flex-end;
        padding: 1% 0%;
        ul {
            width:40%;
            display:flex;
            justify-content: flex-end;
            li {
                display:inline-block;
                margin: 0 4%;
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    font-family: 'Catamaran', sans-serif;
                    color:#042259;
                }
            }
        }
    }
    aside {
        position:absolute;
        top:5%;
        right:5%;
        li {
            margin:10px 0px;
        }
    }
    .wrapper {
        position:relative;
        .mainTitle {
            position:absolute;
            top:40vh;
            left:0;
            h1 {
                font-size:5.23rem;
                line-height: 87.3px;
                width:50%;
            }
            p {
                color: #042259;
                font-size:1.86rem;
                line-height: 37.9px;
                margin: 0;
            }
        }
    }
}
.newsAppliances {
    background-color: #fcdde2;
    padding:1% 0%;
    h2 {
        text-align: center;
        margin:5% 0%;
    }
    .appliancePics {
        display:flex;
        justify-content: space-between;
        li {
            width: 31%;
            img {
                width:100%;
                height:auto;
            }
        }
    }
    .coffee {
        display:flex;
        margin:5% 0%;
        .coffeeInfo {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width:75%;
            margin-left:2%;
            h2 {
                margin: 0;
            }
        }
    }
}
.smoothiesNewHome {
    background-color: #f0f5ff;
    height:auto;
    .smoothies {
        display:flex;
        align-items: center;
        .smoothieInfo {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;
            width:50%;
            padding-right: 5%;
            h2 {
                width:75%;
            }
            article {
                line-height: 29px;
                letter-spacing: 0.2px;
                margin: 3% 0%;
            }
            button {
                background-color: #f5c8cf;
                color:#042259;
                border-width: 0;
                font-size: 1rem;
                text-align: center;
                line-height: 29px;
                padding: 10px 10px;
            }
        }
        img {
            height:auto;
            width: 50%;
        }
    }
    .newHome {
        display:flex;
        align-items: center;
        .newHomeInfo {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:baseline;
            width:50%;
            padding-left: 5%;
            h2 {
                width:75%;
            }
            article {
                line-height: 29px;
                letter-spacing: 0.2px;
                margin: 3% 0%;
            }
            button {
                background-color: #f5c8cf;
                color:#042259;
                border-width: 0;
                font-size: 1rem;
                text-align: center;
                line-height: 29px;
                padding: 10px 10px;
            }
        }
        img {
            height:auto;
            width: 50%;
        }
    }
}
.shopJobsEvents {
    background-color: #fcdde2;
    height:30vh;
    nav {
        height:100%;
        ul {
            height:100%;
            display:flex;
            justify-content: center;
            align-items: center;
            li {
                width:30%;
                height:50%;
                display:flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                i {
                    color: #042259;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
}